<div class="user-pic" style="background-color: black">
  <div class="tphoto">

    <div class="skill">
      <h1><%= @skill.name %></h1>
      <p><%= @skill.description %></p>
    </div>

    <div class="price">
      <h3>Price: <%= @skill.price %></h3>
    </div>

  </div>
</div>

<%= link_to "back", skills_path %>
