<div class="footer">
  <div class="footer-links">
    <a target ="_blank" href="https://github.com/akitatix/Novi"><i class="fab fa-github"></i></a>
    <a target ="_blank" href="https://www.instagram.com/p/BsOGulcndj-/?utm_source=ig_embed"><i class="fab fa-instagram"></i></a>
    <a target ="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a target ="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
    <a target ="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
