<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Transhumanisme - Locations de skills pour devenir meilleur</title>
</head>
<body>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1533749871411-5e21e14bcc7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);">
  <div class="container">
    <h1 class="text-center">Devenez la meilleure version de vous même. Tout de suite. </h1>
    <p class="text-center">Novi vous propose à la location une sélection de talents prêts à l'emploi, pour vous permettre d'atteindre vos objectifs et bien plus encore.</p>
  </div>
</div>

  <div class="container">
  <div class="cards-grid">
  <% Skill.all.sample(6).each do |x| %>
    <% if x.available == true %>
      <div class="card-trip">
        <%= cl_image_tag x.photo.key, height: 300, width: 500, crop: :scale %>
        <div class="card-trip-infos">
          <div>
            <h2><%= x.name  %></h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</body>
