.skill-resume-title {
  padding: 20px;
}

.skill-resume {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  min-height: 200px;
}

.skill-resume-picture {
  height: 200px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.skill-resume-infos {
  font-weight: 100;
  padding: 20px;
  padding-top: 0px;
}

.skill-resume-price {
  font: bold;
  text-color: green;
}
