.main-div {
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
  height: auto;
}

.summary-title h2 {
  font-weight: 100;
  padding: 20px;
}

.skill {
  height: 200px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 50px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}

.check-out h2 {
  font-weight: 100;
  font-family: Raleway;
}

.price {
  padding:20px;
  font-family: Raleway;
}
